# GIT IGNORE

## Data 
./raw_data/*
./processed_data/*
./NewData_270726/*
./deprecated/*

## Data and output
*.docx
*.pdf
*.xlsx
*.csv
*.xls
*.png
*.zip
*.txt
*.numbers

## Agent files
.codex_tmp
.positai
.agents

## R Studio files
.Rproj.user
.RData
.Rhistory


